<!DOCTYPE html>
    <body>
        <h1><%= @subject.name %></h1>
            <% @subject.lessons.each do |lesson|%>
                <h2><%= lesson.title %> by <%= lesson.teacher.name %></h2>
                    <p>Learning Objective: <%= lesson.learning_obj %></p>
                    <a href="/lessons/<%= lesson.id %>">View Lesson</a>
            <% end%>
    </body>
</html>